{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Company</h1>

        {{ include('company/_form.html.twig', {'form': form, 'button_label': 'Update'}) }}
        <div class="d-flex justify-content-between mt-1">
        <a href="{{ path('app_company_index') }}" class="btn btn-secondary">Back to list</a>
        {{ include('company/_delete_form.html.twig', {'company': company,}) }}
        </div>
    </div>
{% endblock %}
