{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Create'}) }}

    <a href="{{ path('app_company_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
